.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cipherForm{
    display: flex;
    justify-content: space-around;
}

.userMessage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputMessage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cipherKey{
    display: flex;
    justify-content: center;
    align-items:center;
}

.cipherCode{
    display: flex;
    justify-content: space-around;
    align-items: center;
}